<h1>
  All stages
</h1>

<a href="/stages/new">
  Add a new stage
</a>

<hr>

<table class="table table-hover">
  <thead>
    
    <tr>
    <th scope="col">
      ID
    </th>

    <th scope="col">
      User
    </th>

    <th scope="col">
      Stage #
    </th>

    <th scope="col">
      Name
    </th>

    <th scope="col">
      Number of deals
    </th>

    <th scope="col">
      Total days
    </th>

    <th scope="col">
      Active days
    </th>

    <th scope="col">
      Probability deal closes
    </th>

    
    <th scope="col">
    </th>
  </tr>
</thead>
<tbody>
  <% @stages.each do |stage| %>
  <tr class ="table-light">
    <td>
      <%= stage.id %>
    </td>

    <td>
      <%= stage.user_id %>
    </td>

    <td>
      <%= stage.number %>
    </td>

    <td>
      <%= stage.name %>
    </td>

    <td>
      <%= stage.number_of_deals %>
    </td>

    <td>
      <%= stage.total_days %>
    </td>

    <td>
      <%= stage.active_days %>
    </td>

    <td>
      <%= number_to_percentage(stage.probability_deal_closes*100, precision: 0) %>
    </td>

    <td>
      <a href="/stages/<%= stage.id %>">
        Show details
      </a>
    </td>
  </tr>
  <% end %>
  </tbody>
</table>
