<h1>
  All stages
</h1>

<a href="/stages/new">
  Add a new stage
</a>

<hr>

<table class="table">
  <tr>
    <th>
      ID
    </th>

    <th>
      User
    </th>

    <th>
      Stage #
    </th>

    <th>
      Name
    </th>

    <th>
      Number of deals
    </th>

    <th>
      Total days
    </th>

    <th>
      Active days
    </th>

    <th>
      Probability deal closes
    </th>

    
    <th>
    </th>
  </tr>

  <% @stages.each do |stage| %>
  <tr>
    <td>
      <%= stage.id %>
    </td>

    <td>
      <%= stage.user_id %>
    </td>

    <td>
      <%= stage.number %>
    </td>

    <td>
      <%= stage.name %>
    </td>

    <td>
      <%= stage.number_of_deals %>
    </td>

    <td>
      <%= stage.total_days %>
    </td>

    <td>
      <%= stage.active_days %>
    </td>

    <td>
      <%= number_to_percentage(stage.probability_deal_closes*100, precision: 0) %>
    </td>

    <td>
      <a href="/stages/<%= stage.id %>">
        Show details
      </a>
    </td>
  </tr>
  <% end %>
</table>
